* {
    font-style: Roboto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 8px;
}

a {
    color: #F9FAF8;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.wrapper {
    width: 70%;
    margin: auto; 
    padding: 18px;
}

.narrow-wrapper {
    width: 60%;
    margin: auto; 
    padding: 18px;
}

.header {
    background-color: #1F2937;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.menu-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
}

.about-company {
    display: flex;
    margin: 36px auto;
    gap: 36px;
    justify-content: space-between;
}

.about-left {
    display: flex;
    flex-direction: column;
    flex: 0.8;
}

.about-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900; 
    line-height: 0.8em;
}

.about-main {
    font-size: 18px;
    color: #E5E7EB;
    margin: 18px auto;
}

.sign-up {
    background-color: #3882F6;
    max-width: 30%;
    color: #F9FAF8;
}

.about-right {
    background-color: #e5e7eb9c;
    color: #F9FAF8;
    align-content: center;
    flex: 1;
    text-align: center;
}

.main-information {
    text-align: center;
}

.main-title {    
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.main-elements {
    display: flex;
    flex-direction: row;
    margin: 18px auto;
    gap: 18px;
}

.main-elements img {
    border: solid, 3px, #3882F6;
    border-radius: 3px;
}

.img-and-text {
    display: flex;
    flex-direction: column;
}

.testimonials {
    background-color: #E5E7EB;
    text-align: center;
}

.testimonials-text {
    font-size: 18px;
    font-style: italic;
    color: #1F2937;
}

.testimonials-author {
    font-size: 14px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
}


.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: small;
    text-align: center;
}